<!DOCTYPE html>
<html>
<head>
  <title>Lista de Usuários</title>
</head>
<body>
<h1>Lista de Usuários</h1>

<% if @users.any? %>
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum usuário encontrado.</p>
<% end %>

</body>
</html>
