.calendar-container {
    display: flex;
}

.calendar {
    flex: 2;
    font-family: 'Poppins', sans-serif;
    width: 1214px;
    height: 780px;
    position: absolute;
    top: 163px;
    left: 34px;
    border-radius: 35px;
    margin: 0 auto;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.calendar-header h2 {
    margin: 0;
}

.calendar-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    background: #C8D1EB66;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.calendar-table th, .calendar-table td {
    padding: 10px;
    text-align: center;
    border: none; 
}

.calendar-mes {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 35px;
    line-height: 52.5px;
    text-align: center;
}

.calendar-table td {
    width: 158px;
    height: 135.52px;
    border-radius: 35px;
    background: rgba(200, 209, 235, 1);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px; 
    top: 163px;
    width: 200px; 
    padding: 15px;
    border-radius: 15px; 
}

.btn-tarefa {
    margin: 5px 0;
    padding: 15px 20px;
    background-color: #c05ce7; 
    color: #fff;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    width: 100%; 
    text-align: center;
    font-style: italic; 
    font-weight: 600; 
}

.btn-meta {
    margin: 5px 0;
    padding: 15px 20px;
    background-color: #6580e3; 
    color: #fff;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    width: 100%; 
    text-align: center;
    font-style: italic; 
    font-weight: 600; 
}

.btn-relatorios {
    margin: 5px 0;
    padding: 15px 20px;
    background-color: #7fbfff; 
    color: #fff;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    width: 100%; 
    text-align: center;
    font-style: italic; 
    font-weight: 600;
}

.btn-tarefa:hover, .btn-meta:hover, .btn-relatorios:hover {
    opacity: 0.9; 
}

.navigate {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F4FF; 
    border-radius: 15px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -60px;
    right: 10px;
}
.navigate h3 {
    font-weight: 600;
    font-style: italic;
    color: #000;
    margin-bottom: 30px;
}

.navigate-select {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-bottom: 15px; 
}

.navigate-select select {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 20px; 
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center; 
    appearance: none; 
    background-image: none; 
}

.navigate-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
    background-color: #c05ce7; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.navigate-btn:hover {
    opacity: 0.9; 
}

.tarefas-list {
    margin-top: 5px;
}
  
.tarefas-list div {
    font-size: 12px;
    color: #333;
    background-color: #f2f2f2;
    padding: 2px;
    margin: 2px 0;
    border-radius: 3px;
}

.calendar-table td div {
    font-size: 12px;
}
   
.calendar-table td div {
    font-size: 12px; 
    color: #fdfdfd; 
    margin-top: 2px;
    padding: 0.5px; 
    border-radius: 10px;
}
  
/* Estilos das categorias de tarefas */
.tarefa-diaria {
    background-color: #FFD700; /* Amarelo */
}

.prazo-entrega {
    background-color: #FF6347; /* Tomate */
}

.aulas {
    background-color: #4682B4; /* Azul Aço */
}

.trabalhos {
    background-color: #8A2BE2; /* Roxo */
}

.revisoes {
    background-color: #20B2AA; /* Verde Água */
}

.provas {
    background-color: #DC143C; /* Carmesim */
}

.exercicios {
    background-color: #FF4500; /* Laranja Avermelhado */
}

.saude {
    background-color: #32CD32; /* Verde Limão */
}

.hobbies {
    background-color: #FF69B4; /* Rosa Choque */
}

.tempo-familia {
    background-color: #FFB6C1; /* Rosa Claro */
}

.contas-pagar {
    background-color: #708090; /* Cinza Escuro */
}

.orcamento {
    background-color: #2E8B57; /* Verde Mar */
}

.investimentos {
    background-color: #DAA520; /* Dourado */
}

.metas-longo-prazo {
    background-color: #6A5ACD; /* Azul Real */
}

.metas-curto-prazo {
    background-color: #FF8C00; /* Laranja Escuro */
}

.habitos {
    background-color: #6495ED; /* Azul Claro */
}

.viagens {
    background-color: #87CEEB; /* Azul Céu */
}

.filmes-series {
    background-color: #9932CC; /* Roxo Escuro */
}

.eventos-sociais {
    background-color: #FF00FF; /* Magenta */
}

  