body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6580e3; 
}

.centralizar-formulario {
    max-width: 1000px; 
    padding: 80px; 
    background-color: #F0F4FF;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #6c63ff;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #574bff;
}
.field-group {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
    margin-right: 0px; 
}

.field-group_data {
    display: flex;
    justify-content: center; 
    margin-right: 0px; 
    margin-bottom: 20px; 
}

.field_data {
    margin-right: 90px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.field {
    margin-right: 20px; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.field:last-child {
    margin-right: 0; 
}

.input-tarefa {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Mantém o espaço entre o rótulo e o campo */
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.titulo-pagina {
    text-align: center;
    margin-bottom: 30px;
    color: #7d5acf;
    font-size: 32px; 
    font-family: 'Arial', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    border-bottom: 2px solid #6c63ff;
    letter-spacing: 1px; 
}

